<html>
<header>
    <title>Estudos de node pagina de tecnologia</title>
</header>
<body>
    <h2>Pagina de Tecnologia acessando via requisição express ejs</h2>
    <br/><br/>

    <h3>Para chegar a este resultado foi usado o seguinte código</h3>
    <br/>

    <strong>
    app.get('/tecnologia', function(req, res){ <br/>
        res.render("secao/tecnologia"); <br/>
    });
    </strong>

</body>
</html>